{% extends 'base.html.twig' %}

{% block title %}{{ siteProp.getMetaTitle() }}{% endblock %}

{% block body %}
    <!-- ******HEADER****** -->
    {% include "top.html.twig" %}

    <div class="container sections-wrapper">
        <div class="row">
            <div class="primary col-lg-8 col-12">
                <section class="about section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Согласие пользователя сайта на обработку персональных данных</h2>
                        <h5>Политика конфиденциальности</h5>
                        <div class="content">
                            <p>1. Настоящим я, далее – «Субъект Персональных Данных», во исполнение требований Федерального закона от 27.07.2006 г. № 152-ФЗ «О персональных данных» (с изменениями и дополнениями) свободно, своей волей и в своем интересе даю свое согласие Фомину Сергею Геннадиевичу на обработку своих персональных данных, указанных при заполнения веб-формы авторизации на сайте mpakfm.ru, направляемой (заполненной) с использованием программного обеспечения по интернет адресу mpakfm.ru, далее – «Сайт».</p>
                            <p>2. Под персональными данными я понимаю любую информацию, относящуюся ко мне как к Субъекту Персональных Данных, в том числе мои фамилию, имя, отчество, адрес, образование, профессию, контактные данные (телефон, факс, электронная почта, почтовый адрес), фотографии, иную другую информацию. Под обработкой персональных данных я понимаю сбор, систематизацию, накопление, уточнение, обновление, изменение, использование, распространение, передачу, в том числе трансграничную, обезличивание, блокирование, уничтожение, бессрочное хранение и любые другие действия (операции) с персональными данными.</p>
                            <p>3. Обработка персональных данных Субъекта Персональных Данных осуществляется исключительно в целях записи Субъекта Персональных Данных в базе данных сайта mpakfm.ru с последующим направлением Субъекту Персональных Данных почтовых сообщений и смс-уведомлений, в том числе рекламного содержания, от сайта mpakfm.ru, его аффилированных лиц и/или субподрядчиков, информационных и новостных рассылок, приглашений на мероприятия сайта mpakfm.ru и другой информации рекламно-новостного содержания, а также с целью передачи персональных данных Субъекта Персональных Данных финансовым организациям для реализации денежных переводов при оплате услуг.</p>
                            <p>4. Датой выдачи согласия на обработку персональных данных Субъекта Персональных Данных является дата отправки платежной веб-формы с сайта mpakfm.ru.</p>
                            <p>5. Обработка персональных данных Субъекта Персональных Данных может осуществляться с помощью средств автоматизации и/или без использования средств автоматизации в соответствии с действующим законодательством РФ и внутренними положениями сайта mpakfm.ru.</p>
                            <p>6. Сайт mpakfm.ru принимает необходимые правовые, организационные и технические меры или обеспечивает их принятие для защиты персональных данных от неправомерного или случайного доступа к ним, уничтожения, изменения, блокирования, копирования, предоставления, распространения персональных данных, а также от иных неправомерных действий в отношении персональных данных, а также принимает на себя обязательство сохранения конфиденциальности персональных данных Субъекта Персональных Данных. Сайт mpakfm.ru вправе привлекать для обработки персональных данных Субъекта Персональных Данных субподрядчиков, а также вправе передавать персональные данные для обработки своим аффилированным лицам, обеспечивая при этом принятие такими субподрядчиками и аффилированными лицами соответствующих обязательств в части конфиденциальности персональных данных.</p>
                            <p>7. Я ознакомлен(а), что:
                            <ul>
                                <li>настоящее согласие на обработку моих персональных данных, указанных при регистрации на Сайте mpakfm.ru, направляемых (заполненных) с использованием Cайта, действует в течение 20 (двадцати) лет с момента регистрации на Cайте mpakfm.ru;</li>
                                <li>согласие может быть отозвано мною на основании письменного заявления в произвольной форме;</li>
                                <li>предоставление персональных данных третьих лиц без их согласия влечет ответственность в соответствии с действующим законодательством Российской Федерации.</li>
                            </ul>
                            </p>

                            <p>
                                Утверждено и действительно на сайте mpakfm.ru с 04 июля 2020 года.
                            </p>

                        </div><!--//content-->
                    </div><!--//section-inner-->
                </section><!--//section-->

            </div><!--//primary-->
            <div class="secondary col-lg-4 col-12">
                <aside class="info aside section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading sr-only">Основная информация</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li><i class="fas fa-map-marker-alt"></i><span class="sr-only">Город:</span>Москва, Россия</li>
                                <li><i class="fas fa-envelope"></i><span class="sr-only">Email:</span><a href="mailto:info@mpakfm.ru">info@mpakfm.ru</a></li>
                                <li><i class="fas fa-link"></i><span class="sr-only">Website:</span><a href="https://mpakfm.ru">https://mpakfm.ru</a></li>
                            </ul>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//aside-->
            </div><!--//secondary-->
        </div><!--//row-->
    </div><!--//masonry-->

{% endblock %}
