{% extends 'base.html.twig' %}

{% block title %}{{ siteProp.getMetaTitle() }}{% endblock %}

{% block body %}
    <!-- ******HEADER****** -->
    {% include "top.html.twig" %}

    <div class="container sections-wrapper">
        <div class="row">
            <div class="primary col-lg-8 col-12">
                <section class="about section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Немного обо мне</h2>
                        <div class="content">
                            <p>Я довольно давно пишу код на php. Успел поработать в разных областях: веб-студии, туризм, букмекеры, образование, гос-структуры. Большое количество разных технологий прошло через меня. И всегда появляются новые — это IT. У меня химическое образование и я хорошо помню как мы изучали технолигии перегонки семидесятилетней давности. Это было нормально: ну а что там еще можно изобрести? А здесь, только изучишь одну технологию, как ей на смену приходит другая, более мощная, более быстрая. И в этом наша жизнь :)</p>
                            <p>Последнее время работаю в команде разработчиков Университета Синергия.</p>

                        </div><!--//content-->
                    </div><!--//section-inner-->
                </section><!--//section-->

                <section class="latest section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Мои проекты в Синергии</h2>
                        <div class="content">

                            <div class="item featured text-center">

                                <div class="featured-image has-ribbon">
                                    <a href="build/images/projects/project-sof.jpg" data-fancybox="asdf" >
                                        <img class="img-fluid project-image rounded shadow-sm" src="build/images/projects/project-sof.jpg" alt="Synergy.online" />
                                    </a>
                                    <a href="build/images/projects/project-sof1.png" data-fancybox="asdf" style="display: none;"></a>
                                    <a href="build/images/projects/project-sof1.2.png" data-fancybox="asdf" style="display: none;"></a>
                                    <a href="build/images/projects/project-sof2.png" data-fancybox="asdf" style="display: none;"></a>
                                    <a href="build/images/projects/project-sof3.png" data-fancybox="asdf" style="display: none;"></a>
                                    <a href="build/images/projects/project-sof3.2.png" data-fancybox="asdf" style="display: none;"></a>
                                    <a href="build/images/projects/project-sof4.png" data-fancybox="asdf" style="display: none;"></a>
                                    <div class="ribbon">
                                        <div class="text">New</div>
                                    </div>
                                </div>

                                <h3 class="title mb-3"><a href="https://synergy.online" target="_blank">Synergy.online — Онлайн форумы под патронажем Университета Synergy</a> <span class="badge badge-theme">Bitrix</span></h3>

                                <div class="desc text-left">
                                    <p>Примерно раз в неделю по выходным мы проводим форумы на различные темы. Выступают онлайн в режиме реального времени несколько приглашенных бизнес-спикеров. Доступны вебинарные комнаты и большая "База знаний" Синергии — видео с различных форумов за несколько лет.</p>
                                </div><!--//desc-->
                                <!--<a class="btn btn-cta-secondary" href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/launch-bootstrap-4-template-for-saas-businesses/" target="_blank"><i class="fas fa-thumbs-up"></i> Back my project</a>-->
                            </div><!--//item-->
                            <hr class="divider" />
                            <div class="item row">
                                <a class="col-md-4 col-12" href="build/images/projects/project-mb.png" data-fancybox="gallery2">
                                    <img class="img-fluid project-image rounded shadow-sm" src="build/images/projects/project-mb.png" alt="Мойбизнес.рф" />
                                </a>
                                <div class="desc col-md-8 col-12">
                                    <h3 class="title"><a href="https://мойбизнес.рф" target="_blank">Мойбизнес.рф — Портал по поддержке малого и среднего бизнеса</a> <span class="badge badge-theme">Bitrix</span></h3>
                                    <p class="mb-2">Портал создан по заказу Министерства Экономического Развития. В его задачи входит информационная поддержка региональных форумов проводимых Университетом.</p>
                                    <!--<p><a class="more-link" href="https://мойбизнес.рф" target="_blank"><i class="fas fa-external-link-alt"></i>Find out more</a></p>-->
                                </div><!--//desc-->
                            </div><!--//item-->

                        </div><!--//content-->
                    </div><!--//section-inner-->
                </section><!--//section-->

                <section class="projects section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Прочие проекты</h2>
                        <div class="content">
                            <div class="item">
                                <h3 class="title"><a href="https://ralf.ru" target="_blank">Ralf Ringer — Интернет магазин продажи обуви своего производства</a> <span class="badge badge-theme">Bitrix</span></h3>
                                <p class="summary">2017 - 2019. Удаленная работа. Задачи по каталогу, фильтрам. Кастомизация битрикса.</p>
                                {#<p><a class="more-link" href="https://themes.3rdwavemedia.com/bootstrap-templates/resume/free-bootstrap4-resume-cv-template-for-developers-pillar/" target="_blank"><i class="fas fa-external-link-alt"></i>Download Now</a></p>#}
                            </div><!--//item-->
                            <div class="item">
                                <h3 class="title"><a href="http://21vek-courses.ru/" target="_blank">Центр 21 век — Курсы повышения квалификации для экскурсоводов.</a> <span class="badge badge-theme">Bitrix</span></h3>
                                <p class="summary">2017 - 2019. Удаленная работа. Создание автоматического расписания. Все окружение для обучения и тестирования студентов, плюс продажа курсов.</p>
                            </div><!--//item-->
                            <div class="item">
                                <h3 class="title"><a href="https://naprokat.ru/" target="_blank">Напрокат.ру — аренда машин в Санкт-Петербурге.</a> <span class="badge badge-theme">Kohana</span></h3>
                                <p class="summary">2018 - 2019. Удаленная работа. Поддержка, новые разделы сайта.</p>
                            </div><!--//item-->
                            <div class="item">
                                <h3 class="title"><a href="http://golpas.com/" target="_blank">Гол+Пас - Казахская букмекерская контора</a> <span class="badge badge-theme">Самописный фреймворк</span></h3>
                                <p class="summary">2010 - 2016. Удаленная работа. Разработка нового Live. Шифрование линии ставок. Создание с нуля нового блока Биржа Ставок. Админка на Python-Django.</p>
                                {#<p><a class="more-link" href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/nova-bootstrap-landing-page-template-for-mobile-apps/" target="_blank"><i class="fas fa-external-link-alt"></i>Download Now</a></p>#}
                            </div><!--//item-->

                            {#<a class="btn btn-cta-secondary" href="#">More on GitHub <i class="fas fa-chevron-right pt-1"></i></a>#}

                        </div><!--//content-->
                    </div><!--//section-inner-->
                </section><!--//section-->

                <section class="experience section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Рабочий стаж</h2>
                        <div class="content">
                            <div class="item">
                                <h3 class="title">Ведущий разработчик & Teamlead - <span class="place"><a href="#">Synergy</a></span> <span class="year">(2019 - Настоящее время)</span></h3>
                                <p>Проектирование и разработка основных проектов Университета. Руководство командой, постановка задач, code-review.</p>
                            </div><!--//item-->
                            <div class="item">
                                <h3 class="title">Freelancer <span class="year">(2017 - 2019)</span></h3>
                                <p>Удаленная работа с несколькими компаниями. В основном bitrix разработка. Новый модули и компоненты. Кастомизация.</p>
                            </div><!--//item-->

                            <div class="item">
                                <h3 class="title">Ведущий разработчик - <span class="place"><a href="#">Гол+Пас</a></span> <span class="year">(2010 - 2016)</span></h3>
                                <p>Удаленная работа в команде. Проект на самописном фреймворке подобном Джанге, с подключенным Зендом как бииблиотекой. Создание новых модулей проекта. Поддержка финансовой админки на python-django.</p>
                            </div><!--//item-->

                        </div><!--//content-->
                    </div><!--//section-inner-->
                </section><!--//section-->

                <section class="github section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Мой GitHub</h2>
                        <!-- Prepare a container for your calendar. -->
                        <div id="github-graph" class="github-graph">
                        </div>

                        <!--<div id="ghfeed" class="ghfeed">
                        </div>--><!--//ghfeed-->

                    </div><!--//secton-inner-->
                </section><!--//section-->

            </div><!--//primary-->
            <div class="secondary col-lg-4 col-12">
                {# contact #}
                {% include "contact.html.twig" %}

                <aside class="skills aside section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Навыки</h2>
                        <div class="content">
                            <p class="intro">
                                Конечно же работа с Git и Svn, Composer. Паттерны проектирования.</p>

                            <div class="skillset">

                                <div class="item">
                                    <h3 class="level-title">PHP<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="Отличное владение языком. Работы с разными фреймворками: Symfony, Zend, Yii"><i class="fas fa-info-circle"></i>Expert</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="96%">
                                        </div>
                                    </div><!--//level-bar-->
                                </div><!--//item-->

                                <div class="item">
                                    <h3 class="level-title">SQL<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="MySQL, PostgreSQL, FireBird. Умение писать сложные запросы, процедуры. Работа с индексами."><i class="fas fa-info-circle"></i>Pro</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="80%">
                                        </div>
                                    </div><!--//level-bar-->
                                </div><!--//item-->

                                <div class="item">
                                    <h3 class="level-title">Javascript &amp; jQuery<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="Работа с чистым js и jquery."><i class="fas fa-info-circle"></i>Pro</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="80%">
                                        </div>
                                    </div><!--//level-bar-->
                                </div><!--//item-->

                                <div class="item">
                                    <h3 class="level-title">Linux<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="Уверенный пользователь. Настройка окружений для разработки."><i class="fas fa-info-circle"></i>Specialist
</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="50%">
                                        </div>
                                    </div><!--//level-bar-->
                                </div><!--//item-->

                                <div class="item">
                                    <h3 class="level-title">Python &amp; Django<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="Многое забылось после длительного перерыва,но при необходимости можно восстановить знания"><i class="fas fa-info-circle"></i>Beginer</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="20%">
                                        </div>
                                    </div><!--//level-bar-->
                                </div><!--//item-->

                                {#<p><a class="more-link" href="#"><i class="fas fa-external-link-alt"></i>More on GitHub</a></p>#}
                            </div>
                            <p class="intro">
                                Фреймворки и CMS: Symfony, Zend, Kohana, CodeIgniter, Bitrix, Opencart, Joomla</p>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
{#
                <aside class="testimonials aside section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Testimonials</h2>
                        <div class="content">
                            <div class="item">
                                <blockquote class="quote">
                                    <p><i class="fas fa-quote-left"></i>James is an excellent software engineer and he is passionate about what he does. You can totally count on him to deliver your projects!</p>
                                </blockquote>
                                <p class="source"><span class="name">Tim Adams</span><br /><span class="title">Curabitur commodo</span></p>
                            </div><!--//item-->

                            <p><a class="more-link" href="#"><i class="fas fa-external-link-alt"></i>More on Linkedin</a></p>

                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
#}
{#
                <aside class="education aside section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Образование</h2>
                        <div class="content">
                            <div class="item">
                                <h3 class="title"><i class="fas fa-graduation-cap"></i> Неоконченное высшее</h3>
                                <h4 class="university">РХТУ им. Д.И.Менделева <span class="year">(1999-2003)</span></h4>
                            </div><!--//item-->
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
#}
                <aside class="languages aside section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Языки</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li class="item">
                                    <span class="title"><strong>Русский:</strong></span>
                                    <span class="level">Родной язык <br class="visible-xs"/><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> </span>
                                </li><!--//item-->
                                <li class="item">
                                    <span class="title"><strong>English:</strong></span>
                                    <span class="level">Intermediate <br class="visible-sm visible-xs"/><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star-half"></i></span>
                                </li><!--//item-->
                            </ul>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
{#
                <aside class="blog aside section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Latest Blog Posts</h2>
                        <p>You can use Sascha Depold's <a href="https://github.com/sdepold/jquery-rss" target="_blank">jQuery RSS plugin</a> to pull in your blog post feeds.</p>
                        <div id="rss-feeds" class="content">

                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
#}

{#
                <aside class="list music aside section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Favourite coding music</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li><i class="fas fa-headphones"></i> <a href="#">Etiam hendrerit urna nunc</a></li>
                                <li><i class="fas fa-headphones"></i> <a href="#">Ut sollicitudin in mauris non auctor</a></li>
                                <li><i class="fas fa-headphones"></i> <a href="#">Etiam hendrerit urna nunc</a></li>
                                <li><i class="fas fa-headphones"></i> <a href="#">Duis et felis bibendum</a></li>
                            </ul>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
#}

{#
                <aside class="list conferences aside section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Conferences</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li><i class="far fa-calendar-alt"></i> <a href="#" target="_blank">WWDC 2020</a> (San Francisco)</li>
                                <li><i class="far fa-calendar-alt"></i> <a href="#">Hive</a> (Seattle)</li>
                            </ul>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
#}

{#
                <aside class="credits aside section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Credits</h2>
                        <div class="content">
                            <ul class="list-unstyled pb-2">
                                <li><a href="https://getbootstrap.com/" target="_blank"><i class="fas fa-external-link-alt"></i>Bootstrap</a></li>
                                <li><a href="https://fortawesome.github.io/Font-Awesome/" target="_blank"><i class="fas fa-external-link-alt"></i>FontAwesome</a></li>
                                <li><a href="https://jquery.com/" target="_blank"><i class="fas fa-external-link-alt"></i>jQuery</a></li>
                                <li><a href="https://github.com/IonicaBizau/github-calendar" target="_blank"><i class="fas fa-external-link-alt"></i>GitHub Calendar Plugin</a></li>

                                <li><a href="https://caseyscarborough.com/projects/github-activity/" target="_blank"><i class="fas fa-external-link-alt"></i>GitHub Activity Stream</a></li>

                                <li><a href="https://github.com/sdepold/jquery-rss" target="_blank"><i class="fas fa-external-link-alt"></i>jQuery RSS</a></li>

                                <li>Profile image: <a href="https://www.flickr.com/photos/dotbenjamin/2577394151" target="_blank">Ben Smith</a></li>
                            </ul>

                            <hr/>

                            <p class="pt-2">This Bootstrap 4 portfolio template is handcrafted by UX designer <a href="https://twitter.com/3rdwave_themes" target="_blank">Xiaoying Riley</a> at <a href="https://themes.3rdwavemedia.com/" target="_blank">3rd Wave Media</a> for developers and is <strong>FREE</strong> as long as you keep the footer attribution link.</p>
                            <p>If you’d like to <strong>use this template without the attribution link</strong>, you can <a href="https://themes.3rdwavemedia.com/bootstrap-templates/resume/free-bootstrap-portfolio-theme-for-web-developers/" target="_blank">buy the commercial license</a>.</p>

                            <a class="btn btn-cta-primary btn-download" href="https://themes.3rdwavemedia.com/bootstrap-templates/resume/free-bootstrap-portfolio-theme-for-web-developers/" target="_blank"><i class="fas fa-download"></i> I want to download</a>
                            <hr/>
                            <h5 class="subheading pt-3">Want more free Bootstrap themes and templates?</h5>
                            <p>Check out our <a href="https://themes.3rdwavemedia.com/bootstrap-templates/free/">collection of free themes and templates.</a></p>
                            <p>Follow <a href="https://twitter.com/3rdwave_themes" target="_blank">Xiaoying</a> on twitter so you don't miss any future freebies!</p>

                            <a class="btn btn-cta-secondary btn-follow" href="https://twitter.com/3rdwave_themes" target="_blank"><i class="fab fa-twitter"></i> Follow on twitter</a>

                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
#}


            </div><!--//secondary-->
        </div><!--//row-->
    </div><!--//masonry-->

{% endblock %}
