{% extends 'base.html.twig' %}


{% block body %}
    <!-- ******HEADER****** -->
    {% include "top.html.twig" %}

    <div class="container sections-wrapper">
        <div class="row">
            <div class="primary col-lg-8 col-12">
                <section class="latest section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Вход</h2>
                        <div class="content">
                            <form action="{{ path('login') }}" method="post">
                                {#
                                    Если вы хотите контролировать URL, на который будет перенаправлен
                                    пользователь при успешном входе (больше деталей ниже)
                                    <input type="hidden" name="_target_path" value="/account" />
                                #}
                                <input type="hidden" name="_target_path" value="/" />
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                <div class="form-group">
                                    <input type="text" id="_username" name="_username" required="required" class="form-control" placeholder="Login"/>
                                </div>
                                <div class="form-group">
                                    <input type="password" id="_password" name="_password" required="required" class="form-control" placeholder="Password" />
                                </div>
                                <div class="form-group pt-2">
                                    <div class="form-check">
                                        <input type="checkbox" id="login_remember_me" name="login[remember_me]" class="form-check-input " value="1" />
                                        <label class="form-check-label " for="login_remember_me">Remember me</label>
                                        <button type="submit" id="login_login" name="login[login]" class="btn-primary btn" style="float: right; margin-top: -5px;">Login</button>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <a href="/signup">Registration</a>
                                    </div>
                                    {#
                                    <div class="col-6 text-right">
                                        <a href="/forgot">Forgot password</a>
                                    </div>
                                    #}
                                </div>


                                {% if error %}
                                    <div class="row mt-4">
                                        <div class="col-12">
                                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                        </div>
                                    </div>
                                {% endif %}
                            </form>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </section>
            </div><!--//primary-->

            <div class="secondary col-lg-4 col-12">
                <aside class="info aside section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading sr-only">Контактная информация</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li><i class="fas fa-map-marker-alt"></i><span class="sr-only">Город:</span>Москва, Россия</li>
                                <li><i class="fas fa-envelope"></i><span class="sr-only">Email:</span><a href="mailto:info@mpakfm.ru">info@mpakfm.ru</a></li>
                                <li><i class="fas fa-phone-alt"></i><span class="sr-only">Phone:</span><a href="tel:+79067945511">+7(906) 794-55-11</a></li>
                                <li><i class="fas fa-link"></i><span class="sr-only">Website:</span><a href="https://mpakfm.ru">https://mpakfm.ru</a></li>
                            </ul>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//aside-->

            </div><!--//secondary-->
        </div><!--//row-->
    </div><!--//masonry-->

{% endblock %}