<aside class="info aside section">
    <div class="section-inner shadow-sm rounded">
        <h2 class="heading sr-only">Основная информация</h2>
        <div class="content">
            <ul class="list-unstyled">
                <li><i class="fas fa-map-marker-alt"></i><span class="sr-only">Город:</span>Москва, Россия</li>
                <li><i class="fas fa-envelope"></i><span class="sr-only">Email:</span><a href="mailto:info@mpakfm.ru">info@mpakfm.ru</a></li>
                <li><i class="fas fa-link"></i><span class="sr-only">Website:</span><a href="https://mpakfm.ru">https://mpakfm.ru</a></li>
            </ul>
        </div><!--//content-->
    </div><!--//section-inner-->
</aside><!--//aside-->