{% extends 'base.html.twig' %}

{% block body %}

    <!-- ******HEADER****** -->
    <header class="header">
        <div class="container clearfix">
            <a href="/" title="На главную" alt="На главную">
                <img class="profile-image img-fluid float-left rounded-circle" src="build/images/persona-blue.png" alt="profile image" />
            </a>
            <div class="profile-content float-left">
                <h1 class="name">Ошибка 404. Страница не найдена.</h1>
                <h2 class="desc">Cкорее всего вы просто ошиблись в написании страницы. Проверьте еще раз.</h2>
            </div>
        </div>
    </header>

    <div class="container sections-wrapper">
        <div class="row">
            <div class="primary col-lg-8 col-12">
                <section class="about section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Для поиска страницы мы спросим Игоря Манна</h2>
                        <div class="content">
                            <p>
                                <img class="mann-404 desktop-img" src="/build/images/errors/404.png" alt="Для поиска страницы мы спросим Игоря Манна">
                                <img class="mann-404 mobile-img" src="build/images/errors/404-mobile.png"  alt="Для поиска страницы мы спросим Игоря Манна" />
                            </p>
                            <p>Эта страница сделана что бы порадовать мою любимую жену :)</p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}