{% extends 'base.html.twig' %}

{% block title %}{{ siteProp.getMetaTitle() }}{% endblock %}

{% block body %}
    <!-- ******HEADER****** -->
    {% include "top.html.twig" %}

    <div class="container sections-wrapper">
        <div class="row">
            <div class="primary col-lg-8 col-12">
                <section class="about section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Результат оплаты</h2>
                        <div class="content">
                            <p>Ошибка оплаты.</p>
                            <p>Видимо какие-то накладки на стороне приема платежей. Попробуйте <a href="/payment">еще раз</a> через некоторое время.</p>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </section><!--//section-->
            </div><!--//primary-->

            <div class="secondary col-lg-4 col-12">
                {# contact #}
                {% include "contact.html.twig" %}

            </div><!--//secondary-->
        </div><!--//row-->
    </div><!--//masonry-->

{% endblock %}